## Code coverage for <%= SimpleCov.project_name %>
Generated <%= timeago(Time.now) %>

<table>
  <tr>
    <th>Group</th><th>Coverage</th><th>Strength (hits/line)</th>
  </tr>
  <%= badge("All Files", result.source_files) %>
  <% result.groups.each do |name, files| %>
    <%= badge(name, files) %>
  <% end %>
</table>
